html {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    background-color: #ececec;
    word-break: break-word;
}