.tasks {
    min-height: 50px;
    background-color: #fff;
    margin-top: 3px;
    padding: 31px 20px 20px 20px;
}

.tasks__item {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    border-bottom: 2px solid #ececec;
    align-items: center;
}

@media (max-width: 767px) {
    .tasks__item {
        margin: 0 0 0 -40px;
        padding: 20px;
    }
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.tasks__button {
    height: 31px;
    width: 31px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks__button:active {
    outline: auto;
    outline-color: #000;

}

.tasks__button--done {
    background-color: #015e01;
}

.tasks__button--disabled {
    visibility: hidden;
}

.tasks__button--remove {
    background-color: #d30202;
}